<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      {{#each rows}}
        {{#if devoured}}
        {{else}}

          <h4>{{{burger_name}}} <a href="/devour/{{ID}}" type="button" class="btn btn-xs btn-danger">Devour</a></h4>

        {{/if}}
      {{/each}}
    </div>

    <div class="col-md-3 col-md-offset-1">
      {{#each rows}}
        {{#if devoured}}
          <h4>{{burger_name}}</h4>
        {{/if}}
      {{/each}}
    </div>

    <div class="col-md-3"></div>
  </div>
</div>


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    </br>
    <form action="/main" method="POST">
      <textarea class="form-control" rows="3" name="burger"></textarea>
      <br>
      <button class="btn btn-default" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
